.goo-filter-container {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 0;
  height: 0;
}

.pixel-canvas {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: transparent !important;
}
